/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: rgb(255, 255, 255);
}

/* Container's elements */
.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-container button {
  padding: 10px 20px;
  background-color: #46c02e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-input-container button:hover {
  background-color: #b37400;
}

.file-input-container input[type="file"] {
  display: none;
}

/* Container image */
.image-container {
  /* margin-top: 20px; */
  box-shadow: 9px -12px 10px #2c2b2b;
  border-radius: 10px;
}

.image-container img {
  max-width: 800px;
  /* width: 100%; */
  height: auto;
  border-radius: 10px;
}

.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.filters label {
  display: block;
  margin: 10px 0 5px;
}

/* debug */
